# Virtual environment
venv/
env/

# Compilation files
*.pyc
*.pyo
__pycache__/

# IDE configuration files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Build and package files
build/
dist/
*.egg-info/
*.pytest_cache/
